* {
  margin: 0;
  padding: 0;
}
/* General styles */
body {
  background-color: #1F1E1F;
  font-family: 'Roboto Mono', monospace;
  background-image: radial-gradient(#151415 1.5px, transparent 1.5px);
  background-size: 20px 20px;
  background-attachment: fixed;
}

header {
  position: sticky;
  top: 0;
  z-index: 1000;
  background: linear-gradient(to bottom, rgba(31, 30, 31, 0.85), rgba(31, 30, 31, 0));
  backdrop-filter: blur(0.8px);
  -webkit-backdrop-filter: blur(0.8px);
}

/* Hero and navigation styles */
.hero {
  position: relative;
  height: 60vh;
  background: url('../images/landing-image.jpg') no-repeat center center/cover;
}

.hero-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: transalte(-50%, -50%);
  text-align: center;
  z-index: 2;
  background: rgba(255,0,0,0.2);
  border: 1px solid lime;
}

.hero::before {
  content: '';
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.navbar {
  padding: 15px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 2;
}

.logo {
  font-family: 'UnifrakturMaguntia';
  font-size: 3rem;
  color: #e8dad3;
  text-decoration: none;
}

.logo a {
  text-decoration: none;
  color: #e8dad3;
}

.navbar .nav-links a {
  margin-left: 20px;
  color: #e8dad3;
  text-decoration: none;
  font-weight: bold;
}

/* Introduction section */
.intro {
  color: #e8dad3;
  padding-left: 30px;
  padding-top: 15px;
  padding-right: 15px;
  padding-bottom: 100px;
  margin-top: 30px;
  line-height: 1.2rem;
  letter-spacing: 0.15em;
  max-width: 95vw;
}

.intro p {
  font-family: 'Roboto';
  font-weight: 300;
}

.btn {
  text-decoration: none;
  color: #e8dad3;
  background-color: #E03616;
  padding: 10px 45px 10px 45px;
  border-radius: 25px;
  display: inline-block;
  margin-top: 30px;
}

/* Booking form styles */
.booking-section {
  text-align: center;
  padding: 60px 15px;
}

.booking-section h2 {
  color: #e03616;
  margin-bottom: 60px;
}

.booking-cta {
  font-family: 'Pirata One';
  font-size: 40px;
}

.booking-form {
  max-width: 300px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.booking-form label {
  font-size: 16px;
  text-align: center;
  color: #e8dad3;
}

.booking-form select,
.booking-form input {
  padding: 12px;
  background-color: #e8dad3;
  color: #1F1E1F;
  border-style: none;
  border-radius: 25px;
}

.booking-form .btn {
  border: none;
  padding-top: 15px;
  font-family: 'Roboto Mono' monospace;
  font-size: 16px;
}